body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
    background-size: cover;
    text-decoration: none;

    justify-content: space-between;
    height: 150vh;
    color: #F5F5F5;
    margin: 0px;
}


header{
    background-color: #006C84;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 8px 10px;
    position: sticky;
    top: 0;
    a{
        text-decoration: none;
        color: #F5F5F5;
        padding: 3px 8px;
        font-weight: 400;
        &:hover{
            font-size: 14px;
            color: #ff7f50;
        }
    }
    #iniciar-sesion{
        font-weight: 500;
    }
    #logo-header{
        width: 120px;
        margin-left: 30px;
    }
}


footer{
    display: flex;
    padding: 20px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #006C84;
    a{
        color: #F5F5F5;
        font-size: 14px;
        font-weight: 200;
        padding: 3px 15px;
        text-decoration: none;
        &:hover{
            color: #ff7f50;
        }
    }
    .logo-rrss{
        width: 30px;
        padding: 20px;
    }
}

.background {
    background-image: url(Imágenes/Fondo\ parlante\ \(1\).png);
    background-size: cover;
}

.screen-height {
    height: 100vh;
}

.underlined{
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 5px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px;
    
    padding: 50px 30px;
    p{
        margin: 0px;
        margin-bottom: 15px;
    }
    .contraste{
        /* text-shadow: #9c9898 0.5px 0 2px; */
    }
}

#nuevo-importante{
    font-weight: 900;
    font-size: 30px;
    color: coral;
    margin-bottom: 5px;
}

.nombre-producto{
    font-size: 80px;
    font-weight: 700;
    color: #1B1B1B;
    /* color: rgb(200, 206, 212); */
}

#motto-producto{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    /* color: rgb(41, 41, 41); */
    color: rgb(200, 206, 212);
}

.breve-info-producto{
    color: rgb(200, 206, 212);
    margin-bottom: 25px;
    width: 600px;
    font-weight: 500;
    /* background: rgba( 255, 255, 255, 0 ); */
    /* backdrop-filter: blur( 20px ); */
}

#boton-saber-mas{
    font-weight: 700;
    color: rgb(247, 163, 132);
    text-decoration: none;
    padding: 5px 12px;
    border: 2px rgb(247, 163, 132) solid;
    border-radius: 5px;
    text-align: center;
    &:hover{
        border: 1px #ff7f50 solid;
        background-color: #ff7f50;
        color: rgb(200, 206, 212);
    }
}

.bold{
    font-weight: bold;
}

.producto{
    background-color:#cfb5a6;
    background-size: cover;
    color: #006C84;
    font-weight: 450;
}

.datos-producto{
    display: flex;
}

.foto-ppal-pulse{
    height: 500px;
    border: 2px #1f1f1f solid;
    margin: 8px;
}

.fotos-adicionales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        margin: 10px;
        height: 150px;
        width: 150px;
        border: 2px #1f1f1f solid;
        margin: 8px;
        object-fit: cover;
    }
}


#info-pulse{
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
    color: #1B1B1B;
    
    #fecha-lanzamiento{
        font-style: italic;
        font-weight: 600;
        color: #ff7f50;
    }
    #seleccion-color{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        padding: 15px;
        div{
            display: flex;
        }
    }
    .caracteristicas{
        padding-left: 25px;
        margin-block: 4px;
    }
    #reserva-producto{
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: #014f61;
        color: #cfb5a6;
        font-size: 15px;
        font-weight: 400;
        padding: 5px 10px;
        border: 1px solid #014f61;
        border-radius: 10px;
        width: 200px;
        margin: 15px;
        &:hover{
            background-color: #ff7f50;
            border: 1px solid #ff7f50;
            color: #1B1B1B;
        }
    }
    #volver-al-inicio{
        align-self: flex-end;
        font-style: italic;
        font-weight: 300;
        margin-top: 40px;
    }
}

#msj-confirmacion-reserva{
    display: none;
    align-self: center;
    color: #014f61;
    font-size: 15px;
    font-style: oblique;
    text-align: center;
    padding: 8px;
    width: 400px;
    background-color: #36a6bf;
    border-radius: 2px;
    margin: 8px;
}

#msj-falta-elegir{
    display: none;
    align-self: center;
    color: #1f1f1f;
    font-style: italic;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    background-color: #ff7f50;
    border-radius: 2px;
    margin: 8px;
    width: 400px;
    text-align: center;
}